* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}
body {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 49, 124);
}
.navbar {
  width: 70%;
  height: 50px;
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__img {
  width: 170px;
  height: 30px;
}
.nav {
  width: 100%;
  height: 50px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
}
.nav2 ul {
  width: auto;
  /* background-color: dodgerblue; */
  height: 50px;
  display: flex;
  align-items: center;
}
.li {
  margin: 0 10px;
  /* background-color: yellow; */
  list-style-type: none;
  padding: 0 20px;
  font-size: 16px;
  height: 100%;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.a {
  color: #fff;
}
.b {
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: 2px solid #dc3545;
  color: #dc3545;
}
.li:hover {
  color: red;
  cursor: pointer;
  transition: 300ms ease;
}
.fa-bars {
  display: none !important;
  font-size: 30px;
  color: #fff;
  margin-top: 80px;
}
.nav__2 {
  width: 100px;
  height: 100px;
  display: none;
  color: #fff;
  margin-top: 100px;
}
.nav__2 ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(1fr, 1);
}
.nav__2 li {
  font-size: 20px;
}
.interior {
  width: 100%;
  height: 850px;
  background-image: url(./16.\ Город.jpg);
  padding-top: 300px;
  display: grid;
  justify-content: center;
}
.int__p {
  text-align: center;
  font-size: 23px;
  color: #fff;
  font-weight: 800;
  line-height: 26px;
}
.int__h1 {
  font-size: 50px;
  text-align: center;
  font-weight: 900;
  margin: 10px 0px;
  color: #fff;
}
.int__btn {
  width: 150px;
  height: 45px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  color: #dc3545;
  margin-left: 35%;
}
.int__box {
  width: auto;
  height: 139px;
}
.int__span {
  color: #dc3545;
}
.int__btn:hover {
  background-color: #dc3545;
  cursor: pointer;
  transition: 700ms;
  color: #fff;
}
.container {
  width: 74%;
  height: 250px;
  padding: 50px;
  border-radius: 10px;
  background-color: #fff;
  transform: translateY(-125px);
  margin-left: 250px;
  box-shadow: 3px 3px 5px 3px rgba(68, 64, 64, 0.148);
}
.cnt__box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.cnt__p {
  font-size: 20px;
  font-weight: 700;
}
.cnt__inp {
  width: 100%;
  border: 1px solid rgb(255, 242, 242);
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
}
.cnt__search {
  margin-right: 32px;
}
.cnt__btn {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  color: #fff;
  margin: 20px 0;
  background-color: #dc3545;
  font-weight: 600;
}
.cnt__btn:hover {
  background-color: black;
  color: #fff;
  cursor: pointer;
  transition: 700ms;
}
.explore {
  width: 86%;
  margin-left: 7%;
}
.exp__p {
  font-size: 30px;
  font-weight: 700;
}
.exp__span {
  color: #dc3545;
}
.exp__spn {
  width: 80px;
  height: 27px;
  display: inline-block;
  position: relative;
}
.exp__spn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 50%;
  left: 50%;
  background-color: red;
  transform: translate(-50%, -50%);
}
.exp__box {
  width: 100%;
  height: 100vh;
  /* background-color: blue; */
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}
.exp__image {
  width: 100%;
  border-radius: 10px;
  height: 100%;
}
.exp__img {
  width: 800px;
  height: 1000px;
}
.about__text {
  width: 100%;
  height: 200px;
  display: flex;
  margin-top: 30px;
}
.about__p2 {
  width: 100%;
  margin-right: 200px;
  font-size: 16px;
  color: rgb(167, 167, 179);
}
.p {
  margin-top: 40px;
}
.abt__a {
  font-size: 18px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}
.abt__a:hover {
  color: #dc3545;
  cursor: pointer;
  transition: 700ms;
}
.exp__h1 {
  width: 100%;
  height: 40px;
  font-size: 12px;
  font-weight: 100;
  border-bottom: 1px solid #7e7979;
}
.abt__p {
  margin-top: 40px;
  font-size: 17px;
  color: #7e7979;
}
.about__p3 {
  width: 100%;
  margin-right: 150px;
  font-size: 16px;
  color: rgb(167, 167, 179);
}
.about__p4 {
  width: 100%;
  margin-right: 200px;
  font-size: 16px;
  color: rgb(167, 167, 179);
}
.int__btn2 {
  width: 150px;
  height: 45px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  color: #fff;
  background-color: #dc3545;
  margin-top: 35px;
}
.int__btn2:hover {
  background-color: black;
  cursor: pointer;
  transition: 700ms;
  color: #fff;
}
.check {
  margin-top: 200px;
  width: 86%;
  margin-left: 7%;
  display: flex;
  /* background-color: dodgerblue; */
}
.check__p {
  padding: 100px 0;
}
.chk__p {
  margin-top: 40px;
  font-size: 15px;
  width: 700px;
  line-height: 26px;
}
.check__images {
  width: 100%;
  margin-left: 100px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.check__img {
  width: 380px;
  height: 500px;
  border-radius: 10px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkg82A01LCh4J_LY9ANjEfuwE5B95XPNpsBGH-WzLQQK19YFty);
  background-repeat: no-repeat;
  background-size: 100%;
  /* padding: 229px 20%; */
  position: relative;
}
.check__img2 {
  width: 280px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.check__img3 {
  width: 180px;
}
.check__img__a {
  padding-top: 229px;
  position: absolute;
  text-align: center;
  color: #ffffff;
  z-index: 5;
  font-size: 20px;
  opacity: 0;
  font-weight: 600;
  /* margin: 229px 75px; */
  margin-left: 70px;
}
.check__img__p {
  z-index: 99;
  padding-top: 270px;
  /* background-color: darkkhaki; */
  color: #ffffff;
  text-align: center;
  position: absolute;
  opacity: 0;
  margin-left: 100px;
}
.check__img::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background-color: #dc3546c2;
  transition: 300ms;
  border-radius: 10px;
  opacity: 0;
}
.check__img:hover::after {
  opacity: 1;
}
.check__img:hover .check__img__a {
  color: #fff;
  opacity: 1;
  cursor: pointer;
}
.check__img:hover .check__img__p {
  opacity: 1;
  color: #fff;
}
.map {
  width: 100%;
  height: 800px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: darkgray; */
  background-image: url(./15.\ Облака.jpg);
}
.map__div {
  width: 65%;
  height: 550px;
  /* background-color: darkslategrey; */
}
.map__box {
  width: 50%;
  height: 100%;
  padding: 60px 40px;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.msge__input {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.msge__text {
  width: 100%;
  height: 100px;
  border-radius: 8px;
  border: 1px solid #7e7979;
  padding-left: 20px;
  font-size: 16px;
  margin-top: 20px;
}
.map__message {
  margin-top: 40px;
}
.map__input {
  height: 50px;
  border-radius: 8px;
  border: 1px solid #7e7979;
  padding-left: 20px;
  font-size: 16px;
}
.div {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  background-color: white;
  /* align-items: center; */
}
.futer {
  margin-top: 100px;
  width: 70%;
  height: 400px;
  background-color: #fff;
}
.ftr__p {
  color: #7e7979;
}
.ftr__img {
  margin-bottom: 40px;
}
.futer1 {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
}
.ftr__h1 {
  font-size: 20px;
  margin-bottom: 20px;
}
.ftr1__1 {
  width: 500px;
  margin-right: 250px;
}
.w {
  margin: 40px 0px 5px;
}
.t {
  margin: 20px 0px 20px;
}
.ftr__inp {
  width: 85%;
  border: none;
  font-size: 16px;
}
.ftr__btn {
  background-color: #fff;
  font-size: 16px;
  border: none;
}
.ftr__input {
  width: 100%;
  height: 50px;
  /* background-color: chocolate; */
  display: flex;
  border-bottom: 1px solid #7e7979;
}
.futer2 {
  margin-top: 20px;
  display: flex;
  justify-content: end;
}
.newstlatter {
  width: 580px;
  /* background-color: coral; */
}
.ftr__btn:hover {
  color: #dc3545;
  transition: 300ms;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .nav .li {
    display: none;
  }
  .fa-bars {
    display: block !important;
  }
  .nav__2 {
    display: none;
  }
  .nav__2__active {
    display: block;
  }
}
@media screen and (max-width: 600px) {
}
